caption{
    font-size: 22px;
}
table{
    background-color:  rgba(0,134,145,0.75);
    border-radius: 5%;
}
td{
    background-color:  rgb(0,211,130);
}

th,td,tr{
                border-radius: 15%;
    
}

button{
                border-radius: 15%;
                border: none;
                margin: 1px;
                outline: none;
                cursor: pointer;
                background-color:  rgba(0,134,145,0.25); 
                font-weight: bold;
}
button:hover {
                box-shadow: 0 8px 10px 0 rgba(0,0,0,0.24), 0 11px 30px 0 rgba(0,0,0,0.19);
}


.modal_content{
                background-color: rgb(0,134,145);

                padding: 20px;
                border: solid 1px black;
                width: 30%;

            }

.close{
                color: #aaa;
                float: right;
                font-size: 28px;
                font-weight: bold;
                cursor: pointer;
            }

.close:hover{
                color: firebrick;
        }

#pID, #pBrand, #pName{
                width: 30px;
            }
.btnAdd{
    background-color:  rgba(0,134,145,0.75); 
}
.pView{
                color:  rgb(0,211,130);
}
